<!-- When user enters feedback, the organization can enters suggestions. This file displays that-->
<p id="notice"><%= notice %></p>

<p>
  <strong>Food Order:</strong>
  <%= @feedback.title %>
</p>

<p>
  <strong>Feedback Details:</strong>
  <%= @feedback.content %>
</p>


<h2>Email to restaurant</h2>

<%= render @feedback.comments %> <!-- render = partial -->

<br>

<%= render "comments/form" %>
<%= link_to 'Edit', edit_feedback_path(@feedback), class: 'btn btn-mini btn-warning' %> |
<%= link_to 'Back', feedbacks_path, class: 'btn btn-mini btn-info' %>
